<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.waterate">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logoawalkotak"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name="activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity.LoginActivity"/>
        <activity android:name="activity.SignupActivity"/>
        <activity android:name="activity.SyaratActivity"/>
        <activity android:name="activity.MainActivity"/>
        <activity android:name="activity.TarifActivity"
            android:parentActivityName="activity.MainActivity"/>
        <activity android:name="activity.KranActivity"
            android:parentActivityName="activity.MainActivity"/>
        <activity android:name="activity.TentangKamiActivity"
            android:parentActivityName="activity.MainActivity"/>
        <service
            android:name="service.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>